/* Empty. Add your own CSS if you like */
$logo-size: 400px;
$logo-font-size: 50px;
$loading-size: 400px;
$loading-font-size: 50px;

.circle {
  background: #F36497;
  border-radius: 50%;
  display: block;
  height: 50px;
  line-height: 50px;
  width: 50px;
  text-align: center;
  margin:0 auto;

  &.selected {
    color: #fff;
  }
}

#logo {
  background: #F36497;
  color: #fff;
  font-size: $logo-font-size;
  height: $logo-size;
  line-height: $logo-size;
  width: $logo-size;
  }

#loading {
  -webkit-animation:breathe;
  -webkit-animation-delay:0s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  -webkit-animation-play-state:running;

  background: translate;
  color: #000;
  font-size: $loading-font-size;
  height: $loading-size;
  line-height: $loading-size;
  width: $loading-size;
  box-shadow: 0px 0px 10px 0px rgba(20%,20%,40%, 0.1),inset 0px 0px 46px 0px rgba(20%,20%,40%,0.1);
}

@-webkit-keyframes breathe
{
  50%  {
    font-size: 40px;
    height: 350px;
    line-height: 350px;
    width: 350px;
  }
}

