$breathe-size: 250px;
$breathe-font-size: 30px;
$logo-size: 300px;
$logo-font-size: 35px;
$loading-size: 300px;
$loading-font-size: 35px;
%circle {
  background: #F36497;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin:0 auto;
}

.random-circle {
  @include transition(all 1s);
  @extend %circle;
  background: transparent;
  color: transparent;
  float: left;

  &.selected {
    border: 1.5px solid #333;
    color: #fff !important;
    opacity: 0.5;
  }
}

#logo {
  @extend %circle;
  background: #F36497;
  color: #000;
  font-size: $logo-font-size;
  height: $logo-size;
  line-height: $logo-size;
  width: $logo-size;

  &:hover {
    color: #fff;
  }
}

#loading {
  @extend %circle;
  @include animation(breathe);
  @include animation-delay(0s);
  @include animation-duration(5s);
  @include animation-iteration-count(infinite);
  @include animation-direction(alternate);
  @include animation-play-state(running);
  background: translate;
  color: #000;
  font-size: $loading-font-size;
  height: $loading-size;
  line-height: $loading-size;
  width: $loading-size;
}

@include keyframes(breathe)
{
  50%  {
    font-size: $breathe-font-size;
    height: $breathe-size;
    line-height: $breathe-size;
    width: $breathe-size;
  }
}

